/* hide the mobile menu */
#mobile_menu {display: none;}

/* display the mobile menue */
#mobile_menu {display: block;}
/**
 * Add background color.
 */
 body {
  background-color: rgb(187, 190, 158);
     margin: 1%;
  }
  /**
   * Add color, margin and padding to h1.
   */
  h1 {
    color: rgb(7, 1, 41);
    margin-left: 1%;
    padding: 1%;
  }
  /**
   * Add color, margin and padding to h2.
   */
  h2 {
    color: darkslategray;
    padding: 1%;
  }
  /**
   * Add padding to left and right of paragraph.
   */
  p {
    padding-left: 1%;
    padding-right: 1%;
  }
p1 {
    padding: 1%;
  }
p2 {
    padding: 1%;
}

  /**
   * Set width of body.
   */
  b {
    width: 100%;
  }
  /**
   * Add padding to list items.
   */
  ul {
    padding-left: 1%;
  }

/**
*Add padding to list items
*/
li {
    padding-left: 1%;
}
  
  /**
* Add Navigation Menu
*/
#nav_menu ul{
  list-style-type: square ;
  padding: 1em 0;
  text-align: center;
  display: block;
  border-top: oldlace solid 2px;
  border-bottom: solid oldlace 2px;
}
#nav_menu ul li{
  display: inline;
  padding: 0 1.5em;  
}
#nav_menu ul li a{
  font-weight: bold;
  color: black;
}
#nav_menu ul li a.current {
  text-decoration: none;
}
/**
*Add image border
*/
#blue_border_img {

    border: 1px solid dodgerblue;
    position: relative;}
/**
*Format Columns
*/
.column1 {
  float: left;
  width: 50%;
}
.column2 {
  float: right;
  width: 50%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}